/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Open Sans", sans-serif;
}

body * {
  padding: 0;
  margin: 0;
  border: 0;
}

body body {
  margin: 0px;
}

body body.modal-open {
  overflow: hidden;
}

body img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body a {
  text-decoration: none;
}

body li {
  list-style-type: none;
}

body ul {
  margin: 0px;
  padding-left: 0px;
}

body button {
  cursor: pointer;
}

body .container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 480px;
  padding: 0px 20px;
}

@media screen and (min-width: 768px) {
  body .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  body .container {
    max-width: 1280px;
  }
}

body .invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 20px 0;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .header {
    background: transparent;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 255px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 170px;
    height: 38px;
  }
}

@media screen and (max-width: 767px) {
  .logo-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-icon {
    fill: #fff;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .header__phone-list {
    display: none;
  }
}

.header__phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.header__phone-item:last-child {
  margin-right: 0;
}

.header__phone-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin: 0 6px;
}

.header__language {
  margin: 0 45px;
}

@media screen and (max-width: 767px) {
  .header__language {
    display: none;
  }
}

.header__language-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #808080;
  background: transparent;
  border: 1px solid #fff;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

.header__language-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #808080;
}

.header__language-btn--active {
  border: 1px solid #808080;
  padding: 2px;
}

.menu-btn {
  background: transparent;
}

.menu-container {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  width: 328px;
  height: 100vh;
  padding: 60px 0 60px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  z-index: 999999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-close {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: transparent;
  cursor: pointer;
}

.menu-close__icon {
  fill: getColor("secondaryText");
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover .menu-close__icon,
.menu-close:focus .menu-close__icon {
  fill: getColor("accent");
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  width: 209px;
  height: 44px;
  border: none;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: getColor("lightbuttonColor");
  color: getColor("accent");
}

.menu-button:hover, .menu-button:focus {
  background-color: getColor("lightbuttonHoverColor");
}

.menu-button__icon {
  margin-left: 16px;
  fill: getColor("accent");
  stroke: getColor("accent");
}

.mobile-menu__navigation li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-right: 7px;
  text-transform: uppercase;
  color: #000000;
}

.mobile-menu__navigation li {
  border-top: 1px solid #ccc;
  padding: 13px 127px 13px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__navigation li:last-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.mobile-menu__title {
  font-family: Playfair Display SC;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  padding: 52px 41px 47px 0;
  color: #808080;
}

.mobile-menu__navigation li svg {
  display: inline-block;
}

.header__phone-list--mobile {
  display: block;
}

.header__phone-list--mobile li {
  margin-bottom: 15px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(128, 128, 128, 0.5))), url(../img/hero-bg.jpg);
  background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  padding: 256px 0 437px 0;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .hero {
    padding: 131px 0 199px 0;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 267px 0 359px 0;
  }
}

.hero__title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.3;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 35px;
    line-height: 1.3;
  }
}

.hero__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .hero__subtitle {
    font-size: 13px;
    line-height: 2.3;
  }
}

.about {
  padding-top: 145px;
  padding-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .about {
    padding-top: 35px;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .about-container {
    display: block;
  }
}

.about__title {
  font-family: Playfair Display SC;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}

.about__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  color: #000000;
  max-width: 575px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .about__text {
    max-width: 400px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .about__text {
    text-align: center;
  }
}

.about__subtitle {
  font-family: Playfair Display SC;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #808080;
}

@media screen and (max-width: 767px) {
  .about__subtitle {
    text-align: center;
    display: block;
    margin-bottom: 50px;
  }
}

.about__img {
  width: 367px;
  z-index: 999;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about__img {
    display: none;
  }
}

.about__img::after {
  content: "";
  display: block;
  background-image: url(../img/about-bg.png);
  position: absolute;
  width: 492px;
  height: 387px;
  top: 43px;
  right: -44px;
  z-index: -100;
}

@media screen and (max-width: 1279px) {
  .about__img::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .about__img--desktop {
    display: none;
  }
}

.about__img--mobile__wrap {
  position: relative;
}

@media screen and (min-width: 768px) {
  .about__img--mobile__wrap {
    display: none;
  }
}

.about__img--mobile__wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -22px;
  background-color: #808080;
}

.about__img--mobile__wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -22px;
  background-color: #808080;
}

@media screen and (min-width: 768px) {
  .about__img--mobile {
    display: none;
  }
}

.instagram {
  padding: 74px 0 20px 0;
}

.instagram__icon {
  display: block;
  margin: 0 auto 17px auto;
}

.instagram__item {
  width: 378px;
}

.instagram__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -50px;
  margin-top: -50px;
}

@media screen and (max-width: 767px) {
  .instagram__list {
    margin-left: -15px;
    margin-top: -15px;
  }
}

.instagram__item {
  -ms-flex-preferred-size: calc(100% / 3 - 50px);
      flex-basis: calc(100% / 3 - 50px);
  margin-left: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .instagram__item {
    -ms-flex-preferred-size: calc(100% / 3 - 15px);
        flex-basis: calc(100% / 3 - 15px);
    margin-left: 15px;
    margin-top: 15px;
  }
}

.instagram__title {
  font-family: Playfair Display SC;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #808080;
  margin-bottom: 16px;
}

.instagram__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

.instagram__btn {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 22px;
  color: #FFFFFF;
  background: #808080;
  border: 2px solid #808080;
  display: block;
  margin: 73px auto 0 auto;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

@media screen and (max-width: 767px) {
  .instagram__btn {
    padding: 12px 19px;
    font-size: 17px;
  }
}

.instagram__btn::after {
  content: '';
  display: block;
  width: 1236px;
  height: 2px;
  background-color: #808080;
  position: absolute;
  bottom: -35px;
  left: 16px;
}

@media screen and (max-width: 1279px) {
  .instagram__btn::after {
    width: 725px;
  }
}

@media screen and (max-width: 767px) {
  .instagram__btn::after {
    display: none;
  }
}

.instagram__btn:hover {
  background: transparent;
  color: #808080;
}

.founder {
  padding: 50px 0;
}

.founder-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .founder-container {
    padding-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .founder-container {
    display: block;
  }
}

.founder__img {
  width: 367px;
  height: 499px;
  z-index: 999;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .founder__img {
    margin-right: 20px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .founder__img {
    max-width: 283px;
    max-height: 454px;
    display: block;
    margin: 0 auto 53px auto;
  }
}

.founder__img::after {
  content: "";
  display: block;
  background-image: url(../img/about-bg.png);
  position: absolute;
  width: 492px;
  height: 387px;
  top: 43px;
  right: -56px;
  z-index: -100;
}

@media screen and (max-width: 1279px) {
  .founder__img::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .founder__img--desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .founder__img--mobile {
    display: none;
  }
}

.founder__content {
  margin-top: 144px;
}

@media screen and (max-width: 1279px) {
  .founder__content {
    margin-top: 0;
  }
}

.founder__title {
  font-family: Playfair Display SC;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 23px;
}

@media screen and (max-width: 767px) {
  .founder__title {
    display: none;
  }
}

.founder__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-transform: uppercase;
  margin-bottom: 23px;
  color: #000000;
}

.founder__subtitle span {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .founder__subtitle {
    text-align: center;
    display: block;
  }
}

.founder__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #000000;
  max-width: 664px;
  margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .founder__text {
    text-align: center;
    display: block;
  }
}

.founder__lang {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #808080;
}

@media screen and (max-width: 767px) {
  .founder__lang {
    text-align: center;
    display: block;
    margin-bottom: 33px;
  }
}

.founder__btn {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  padding: 14px 75px;
  background: transparent;
  border: 2px solid #808080;
  margin-top: 27px;
  color: #808080;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

@media screen and (max-width: 767px) {
  .founder__btn {
    display: block;
    margin: 0 auto;
  }
}

.founder__btn:hover {
  color: #fff;
  background: #808080;
}

.founder__img--mobile__wrap {
  position: relative;
}

@media screen and (min-width: 768px) {
  .founder__img--mobile__wrap {
    display: none;
  }
}

.founder__img--mobile__wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -22px;
  background-color: #808080;
}

.founder__img--mobile__wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -22px;
  background-color: #808080;
}

.founder__img--mobile__wrap img {
  max-width: 300px;
  margin: 0 auto;
}

.footer {
  background: #808080;
  padding: 32px 0;
}

.footer__logo {
  width: 110px;
  height: 92px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -13px;
  margin-bottom: 23px;
}

.footer__icons svg {
  margin-right: 22px;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

.footer__icons svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #FFFFFF;
}

.recommend__title {
  font-family: Playfair Display SC;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
  color: #808080;
}

@media screen and (max-width: 767px) {
  .recommend__title {
    font-size: 31px;
  }
}

.recommend__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  margin: 0 auto 27px auto;
  max-width: 530px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .recommend__text {
    display: none;
  }
}

.recommend__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .recommend__wrap {
    display: block;
  }
}

.recommend__item--big {
  background: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
  margin-right: 30px;
}

@media screen and (max-width: 1279px) {
  .recommend__item--big {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .recommend__item--big {
    display: flow-root;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.recommend__item--big__content {
  margin: 10px;
  border: 1px solid #808080;
  padding: 10px 28px;
}

.recommend__number {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.3;
  text-align: center;
  color: #606060;
}

.recommend__subtitle {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 11px;
  color: #606060;
}

.recommend__cost {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  display: block;
  margin-bottom: 13px;
  margin-right: 5px;
  color: #000000;
}

.recommend__about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommend__square {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #606060;
}

.recommend__bedrooms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  margin-left: 36px;
  color: #606060;
}

.recommend__terrace {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  display: block;
  color: #606060;
}

.recommend__items--middle {
  background: #fff;
  display: flow-root;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
  margin-bottom: 26px;
}

@media screen and (max-width: 767px) {
  .recommend__items--middle {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.recommend__items--little {
  background: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
  margin-right: 16px;
}

.recommend__items--little:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .recommend__items--little {
    margin-right: 0;
    margin-bottom: 20px;
    display: flow-root;
  }
  .recommend__items--little:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1279px) {
  .recommend__items--little__desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .recommend__items--little__mobile {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .div__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .div__wrap {
    display: block;
  }
}

@media screen and (max-width: 1279px) {
  .recommend__item--big__img--desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .recommend__item--big__img--mobile {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .recommend__items--middle__img--desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .recommend__items--middle__img--mobile {
    display: none;
  }
}

.new-builds__hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(128, 128, 128, 0.5))), url(../img/new-builds/new-builds--bg.png);
  background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(../img/new-builds/new-builds--bg.png);
  background-repeat: no-repeat;
  padding: 256px 0 437px 0;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .new-builds__hero {
    padding: 131px 0 199px 0;
  }
}

@media screen and (max-width: 767px) {
  .new-builds__hero {
    padding: 267px 0 359px 0;
  }
}

.new-builds__img {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.new-builds__cards {
  padding: 85px 0 110px 0;
}

.new-builds__card-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #606060;
  margin: 10px;
  border: 1px solid #808080;
  padding: 10px 28px;
}

.new-builds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -46px;
  margin-top: -46px;
}

.new-builds__item {
  -ms-flex-preferred-size: calc(100% / 3 - 46px);
      flex-basis: calc(100% / 3 - 46px);
  margin-left: 46px;
  margin-top: 46px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1279px) {
  .new-builds__item {
    -ms-flex-preferred-size: calc(100% / 2 - 46px);
        flex-basis: calc(100% / 2 - 46px);
  }
}

@media screen and (max-width: 767px) {
  .new-builds__item {
    -ms-flex-preferred-size: calc(100% / 1 - 46px);
        flex-basis: calc(100% / 1 - 46px);
  }
}

.contacts__hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.6)), to(rgba(128, 128, 128, 0.6))), url(../img/contacts/contacts-hero--bg.png);
  background-image: linear-gradient(rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.6)), url(../img/contacts/contacts-hero--bg.png);
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 144px 0 25px 0;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .contacts__hero {
    padding: 131px 0 25px 0;
    background-position-x: right;
  }
}

@media screen and (max-width: 767px) {
  .contacts__hero {
    padding: 317px 0 19px 0;
    margin-top: -80px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.6)), to(rgba(128, 128, 128, 0.6))), url(../img/contacts/contacts-hero--bg-mobile.png);
    background-image: linear-gradient(rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.6)), url(../img/contacts/contacts-hero--bg-mobile.png);
    max-width: 812px;
  }
}

.contacts__hero-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 121px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .contacts__hero-subtitle {
    font-size: 13px;
    line-height: 1.9;
    margin-top: 17px;
    margin-bottom: 228px;
  }
}

.contacts__hero-text {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 767px) {
  .contacts__hero-text {
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.contacts__hero-icon {
  display: block;
  margin: 0 auto;
  -webkit-transition: 400ms -webkit-transform linear;
  transition: 400ms -webkit-transform linear;
  transition: 400ms transform linear;
  transition: 400ms transform linear, 400ms -webkit-transform linear;
}

.contacts__hero-icon:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 53px;
}

@media screen and (max-width: 767px) {
  .contacts__icons {
    display: none;
  }
}

.contacts__icons a {
  margin-right: 22px;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

.contacts__icons a:last-child {
  margin-right: 0;
}

.contacts__icons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts-about {
  padding-top: 91px;
  padding-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .contacts-about {
    padding-top: 35px;
  }
}

.contacts__about-content {
  padding-top: 100px;
}

@media screen and (max-width: 1279px) {
  .contacts__about-content {
    padding-top: 0;
  }
}

.contacts__about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  max-width: 666px;
  color: #000000;
  margin-bottom: 30px;
}

.contacts__about-text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .contacts__about-text {
    padding-top: 0;
    max-width: 560px;
    margin-right: 20px;
    font-size: 15px;
  }
}

.contacts__lang {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #808080;
}

@media screen and (max-width: 767px) {
  .contacts__lang {
    text-align: center;
    display: block;
    margin-bottom: 33px;
    font-size: 14px;
  }
}

.contacts-help {
  padding-bottom: 97px;
}

@media screen and (max-width: 767px) {
  .contacts-help {
    padding-bottom: 53px;
  }
}

.contacts__help-box {
  max-width: 845px;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
  display: flow-root;
  margin: 0 auto;
}

.contacts__help-content {
  border: 1px solid #808080;
  margin: 10px;
  padding: 41px 100px 49px 100px;
}

@media screen and (max-width: 767px) {
  .contacts__help-content {
    padding: 20px 7px;
  }
}

.contacts__help-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 35px;
  line-height: 0.8;
  text-align: center;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 26px;
}

@media screen and (max-width: 767px) {
  .contacts__help-title {
    display: none;
  }
}

.contacts__help-title--mobile {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .contacts__help-title--mobile {
    display: none;
  }
}

.contacts__help-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 22px;
  color: #808080;
}

@media screen and (max-width: 767px) {
  .contacts__help-text {
    display: none;
  }
}

.contacts__help-text--mobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 4;
  text-align: center;
  margin-bottom: 17px;
  color: #808080;
}

@media screen and (min-width: 768px) {
  .contacts__help-text--mobile {
    display: none;
  }
}

.contacts__phone-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .contacts__phone-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.contacts__phone-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1279px) {
  .contacts__phone-item {
    margin-right: 0;
  }
}

.contacts__phone-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
  margin: 0 6px;
}

@media screen and (max-width: 1279px) {
  .contacts__phone-icon--tel {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .contacts__phone-icon--desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__phone-icon--mobile {
    display: none;
  }
}

.contacts__form {
  padding: 0 94px;
}

@media screen and (max-width: 767px) {
  .contacts__form {
    padding: 0 5px;
  }
}

.contacts__input {
  font-family: Open Sans;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 5px 20px;
  outline: none;
  display: block;
  margin: 0 auto 13px auto;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  -webkit-transition: 250ms border linear;
  transition: 250ms border linear;
}

.contacts__input:focus-within {
  border: 1px solid #808080;
}

.contacts__input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__input:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__input::-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__input::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__textarea {
  resize: none;
  outline: none;
  display: block;
  margin: 0 auto 12px auto;
  width: 100%;
  padding: 5px 20px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  -webkit-transition: 250ms border linear;
  transition: 250ms border linear;
}

.contacts__textarea:focus-within {
  border: 1px solid #808080;
}

.contacts__textarea::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__textarea:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__textarea::-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.contacts__textarea::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.cost__checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  text-transform: capitalize;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .cost__checkbox-text {
    font-size: 9px;
  }
}

.cost__checkbox-text .cost__contract-link {
  text-decoration: underline;
  color: #000000;
}

.cost__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.cost__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.cost__chekbox-icon {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #808080;
  margin-right: 10px;
  -webkit-transition: 250ms -webkit-transform linear;
  transition: 250ms -webkit-transform linear;
  transition: 250ms transform linear;
  transition: 250ms transform linear, 250ms -webkit-transform linear;
}

.cost__checkbox:checked + .cost__chekbox-icon {
  background-color: transparent;
  background-image: url(../img/contacts/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts__btn {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 69px;
  color: #ffffff;
  background: #808080;
  border: 2px solid #808080;
  display: block;
  margin: 0 auto;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

@media screen and (max-width: 767px) {
  .contacts__btn {
    padding: 9px 35px;
    font-size: 17px;
  }
}

.contacts__btn:hover {
  background: transparent;
  color: #808080;
}

.second-builds__hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.6)), to(rgba(128, 128, 128, 0.6))), url(../../../img/secondary-builds/secondary-build--bg.png);
  background-image: linear-gradient(rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.6)), url(../../../img/secondary-builds/secondary-build--bg.png);
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 144px 0 168px 0;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .second-builds__hero {
    padding: 131px 0 140px 0;
    background-position-x: right;
  }
}

@media screen and (max-width: 767px) {
  .second-builds__hero {
    padding: 317px 0 19px 0;
    margin-top: -80px;
    max-width: 812px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.6)), to(rgba(128, 128, 128, 0.6))), url(../../../img/secondary-builds/secondary-build--bg--mobile.png);
    background-image: linear-gradient(rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.6)), url(../../../img/secondary-builds/secondary-build--bg--mobile.png);
  }
}

.second-builds__hero-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  margin-bottom: 31px;
}

@media screen and (max-width: 1279px) {
  .second-builds__hero-title {
    font-size: 69px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 767px) {
  .second-builds__hero-title {
    font-size: 33px;
    line-height: 1.3;
  }
}

.second__hero-text {
  display: none;
}

@media screen and (max-width: 767px) {
  .second__hero-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 2.5;
    text-align: center;
    display: block;
    margin: 270px auto 0 auto;
    color: #ffffff;
  }
}

.second__hero-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .second__hero-icon {
    display: block;
    margin: 0 auto;
  }
}

.second-builds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -46px;
  margin-top: -46px;
}

.second-builds__item {
  background: #fff;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
  -ms-flex-preferred-size: calc(100% / 3 - 46px);
      flex-basis: calc(100% / 3 - 46px);
  margin-left: 46px;
  margin-top: 46px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1279px) {
  .second-builds__item {
    -ms-flex-preferred-size: calc(100% / 2 - 46px);
        flex-basis: calc(100% / 2 - 46px);
  }
}

@media screen and (max-width: 767px) {
  .second-builds__item {
    -ms-flex-preferred-size: calc(100% / 1 - 46px);
        flex-basis: calc(100% / 1 - 46px);
  }
}

.second-builds__cards {
  padding: 85px 100px 110px 100px;
}

@media screen and (max-width: 1279px) {
  .second-builds__cards {
    padding: 85px 50px 110px 50px;
  }
}

@media screen and (max-width: 767px) {
  .second-builds__cards {
    padding: 85px 15px 110px 15px;
  }
}
/*# sourceMappingURL=main.css.map */