.second-builds__hero {
  background-image: linear-gradient(
      rgba(128, 128, 128, 0.6),
      rgba(128, 128, 128, 0.6)
    ),
    url(../img/secondary-builds/secondary-build--bg.png);
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 144px 0 168px 0;
  background-size: cover;
  @media screen and(max-width:1279px) {
    padding: 131px 0 140px 0;
    background-position-x: right;
  }
  @media screen and(max-width:767px) {
    padding: 317px 0 19px 0;
    margin-top: -80px;
    max-width: 812px;
    background-image: linear-gradient(
        rgba(128, 128, 128, 0.6),
        rgba(128, 128, 128, 0.6)
      ),
      url(../img/secondary-builds/secondary-build--bg--mobile.png);
  }
}
.second-builds__hero-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.3;

  color: #ffffff;
  text-align: center;
  margin-bottom: 31px;
  @media screen and (max-width: 1279px) {
    font-size: 69px;
    line-height: 1.3;
  }
  @media screen and (max-width: 767px) {
    font-size: 33px;
    line-height: 1.3;
  }
}

.second__hero-text {
  display: none;

  @media screen and(max-width:767px) {
    font-size: 12px;
    font-weight: 700;
    line-height: 2.5;
    text-align: center;
    display: block;
    margin: 270px auto 0 auto;

    color: #ffffff;
  }
}
.second__hero-icon {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
  }
}
