.footer {
    background: #808080;
    padding: 32px 0;
}
.footer__logo {
    width: 110px;
    height: 92px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -13px;
    margin-bottom: 23px;
    svg {
        margin-right: 22px;
    }
}
.footer__copyright {
    font-weight: 400;
font-size: 14px;
line-height: 1.4;
text-align: center;


color: #FFFFFF;
}