.founder {
    padding: 50px 0;
}
.founder-container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:1279px) {
        padding-top: 35px;
    }
}
.founder__img {
    width: 367px;
    height: 499px;
    z-index: 999;
    position: relative;
    @media screen and (max-width:1279px) {
        margin-right: 20px;
        height: auto;
    }
    &::after {
        content: '';
        display: block;
        background-image: url(../img/about-bg.png);
        position: absolute;
        width: 492px;
        height: 387px;
        top: 43px;
    right: -56px;
        z-index: -100;
        @media screen and (max-width:1279px) {
            display: none;
        }
    }

}
.founder__content {
    margin-top: 144px;
    @media screen and (max-width:1279px) {
        margin-top: 0;
    }
}
.founder__title {
    font-family: Playfair Display SC;
font-weight: 400;
font-size: 35px;
line-height: 1.3;
text-transform: uppercase;

color: #808080;
margin-bottom: 23px;
}
.founder__subtitle {
font-weight: 400;
font-size: 16px;
line-height: 1.8;
text-transform: uppercase;
margin-bottom: 23px;

color: #000000;
span {
    font-weight: 700;
}
}
.founder__text {
    font-weight: 400;
font-size: 16px;
line-height: 1.8;

color: #000000;
max-width: 664px;
margin-bottom: 28px;
}
.founder__lang {
    font-weight: 400;
font-size: 16px;
line-height: 1.8;

text-transform: uppercase;

color: #808080;

}
.founder__btn {
    font-family: Playfair Display SC;
font-weight: 700;
font-size: 18px;
line-height: 1.6;
letter-spacing: 0.2em;
text-transform: uppercase;
display: block;
padding: 14px 75px;
background: transparent;
border: 2px solid #808080;

margin-top: 27px;

color: #808080;
transition: 250ms all linear;
&:hover {
    color: #fff;
    background: #808080;
}
}