.header {
    padding: 20px 0;
    background: #fff;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 255px;
    height: 60px;
    @media screen and (max-width:767px) {
        width: 170px;
        height: 38px;
    }
}
.header__content {
    display: flex;
    align-items: center;
}
.header__phone-list {
    display: flex;
    align-items: center;
    @media screen and (max-width:1279px) {
        display: none;
    }
}
.header__phone-item {
    display: flex;
    align-items: center;
    margin-right: 35px;
    &:last-child {
        margin-right: 0;
    }
}
.header__phone-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0 6px;
}
.header__language {
    margin: 0 45px;
    @media screen and(max-width:767px) {
        display: none;
    }
}
.header__language-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #808080;
    background: transparent;
    border: 1px solid #fff;
    transition: 250ms all linear;

    &:hover {
        transform: scale(1.1);
        border: 1px solid #808080;
    }
}
.header__language-btn--active {
    border: 1px solid #808080;
    padding: 2px;
}

.menu-btn {
    background: transparent;
}